<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap History - Dave's RFID Race Tracking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Lap History - <%- history.periodString %></h1>

        <table class="table table-striped">
            <thead>
                <th>Record Number</th>
                <th>Lap Time</th>
                <th>Date Made</th>
                <th>Driver Name</th>
                <th></th>
            </thead>
            <tbody id="tableBody">
                <!-- <form action="/lapHistory/deleteLap/submit">
                    <input type="hidden" name="" value="">
                </form> -->
            </tbody>
        </table>

        <form action="/lapHistory/dashboard/submit" method="post">
            <button class="btn btn-primary" type="submit">Return to Dashboard</button>
        </form>
        
    </div>

    <script>
        //get the lap history json data into a variable
        const lapHistory = <%- JSON.stringify(history) %>;

        //get the tableBody element and define recordNumber as 1
        let tableBody = document.getElementById("tableBody");
        let recordNumber = 1;

        //loop though each record in the current lapHistory
        for(let i = 0; i < lapHistory.recordArray.length; i++)
        {
            //if the array isn't null, add relevant data to the tableBody
            if(lapHistory.recordArray[i] != null)
            {
                tableBody.innerHTML += "<tr><th>" + recordNumber.toString() + 
                "</th><td>" + lapHistory.recordArray[i].singleLapTime + 
                "</td><td>" + lapHistory.recordArray[i].dateMade.toString() + 
                "</td><td>" + lapHistory.recordArray[i].racerName + 
                "</td><td><form action=\"/lapHistory/deleteLap/submit\" method=\"post\">" + 
                "<input type=\"hidden\" name=\"_id\" value=\"" + lapHistory._id +"\">" +
                "<input type=\"hidden\" name=\"recordNumber\" value=\"" + (recordNumber -1) + "\">" + 
                "<button class=\"btn btn-warning\" type=\"submit\">Delete Lap Record</button>" +
                "</td></tr>" + 
                "</form>";
                recordNumber++;
            }
        }
    </script>
</body>
</html>