<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lap History - Dave's RFID Race Tracking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Lap History - <%- history.periodString %></h1>

        <table class="table table-striped">
            <thead>
                <th>Record Number</th>
                <th>Lap Time</th>
                <th>Date Made</th>
                <th>Driver Name</th>
                <th></th>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>

        <form action="/lapHistory/dashboard/submit" method="post">
            <button class="btn btn-primary" type="submit">Return to Dashboard</button>
        </form>
        
    </div>

    <script>
        const lapHistory = <%- JSON.stringify(history) %>;
        
        let tableBody = document.getElementById("tableBody");
        let recordNumber = 1;

        for(let i = 0; i < lapHistory.recordArray.length; i++)
        {
            tableBody.innerHTML += "<tr><th>" + recordNumber.toString() + "</th><td>" + lapHistory.recordArray[i].singleLapTime + "</td><td>" + lapHistory.recordArray[i].dateMade.toString() + "</td><td>" + lapHistory.recordArray[i].racerName + "</td><td><button class=\"btn btn-danger\">Delete Record</button></td></tr>";
            recordNumber++;
        }

        console.log(lapHistory);
    </script>
</body>
</html>