<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="NewRace">
        <h1>New Race</h1>

        <h2>Add Racer</h2>
        <form action="">
            <label for="racerName">Racer Name: </label>
            <input type="text" name="racerName">
            <label for="email">Racer Email:</label>
            <input type="text" name="email">
            <button type="submit">Add Racer</button>
        </form>

        <h2>Race Config</h2>
        <form action="">
            <label for="laps">Number of Laps: </label>
            <input type="number" name="noOfLaps" value="1" placeholder="1">
            <button type="submit">Start Race</button>
        </form>
    </div>
    <form action="/dashboard">
        <button type="submit">Return to Dashboard</button>
    </form>
</body>
</html>