<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Start Race</h1>

    <!-- Race Information -->
    <div id="raceInfo">
        <p>Number of Laps: <%= race.noOfLaps %></p>
        <p>Race is <%= race.raceState %></p>
        <p id="countdown"></p>
        <p id="raceTimer">00:00:00</p>
    </div>

    <h2>Laps</h2>
    <table>
        <thead>
            <th>Racer</th>
            <th>Vehicle</th>
            <th>Time</th>
            <th>Lap Number</th>
            <th>Pole Position</th>
        </thead>
        <tbody id="raceLaps">
            <tr>
                <td>Name</td>
                <td>1</td>
                <td>00:00:00</td>
                <td>Lap 1/3</td>
                <td>1st</td>
            </tr>
        </tbody>

    </table>

    <h2>Racers</h2>
    <table>
        <thead>
            <th>Racers</th>
            <th>Vehicle Number</th>
            <th>Actions</th>
        </thead>

        <tbody>
            <% race.racers.forEach(function(racer) { %>
            <tr>
                <td><%= racer.racerName %></td>
                <td><%= racer.vehicleNumber %></td>
                <td><button>Remove Racer</button></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <form action="/stopRace">
        <button>Stop Race</button>
    </form>

    <script>
        const raceTimer = document.getElementById("raceTimer");
        const raceLaps = document.getElementById("raceLaps");

        const ws = new WebSocket('ws:localhost:8888');

        ws.onopen = () =>
        {
            console.log('connected to server: Race View');
        }

        ws.onmessage = (event) =>
        {
            console.log(event);
        }

    </script>
</body>
</html>