<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Race Results - David's RFID Race Tracking System</title>
</head>
<body>
<div class="container">
    <h1>Post-Race Details</h1>

    <table class="table table-striped">
        <thead>
            <th>Place</th>
            <th>Name</th>
            <th>Vehicle No.</th>
            <th>Total Time</th>
        </thead>
        <tbody id="poleTableBody">

        </tbody>
    </table>

    <form action="/finishRace/newrace/submit" method="post">
        <button class="btn btn-primary" type="submit">Start New Race</button>
    </form>
    <br>
    <form action="/finishRace/dashboard/submit" method="post">
        <button class="btn btn-info" type="submit">Return To Dashboard</button>
    </form>
</div>
    <script>

        //place json data into a variable
        var newRaceRecord = <%- JSON.stringify(raceRecord) %>;

        //get the poleTableBody element
        var poleTableBody = document.getElementById("poleTableBody");

        //define pole ordinals and lap time
        const poleOrdinals = ["0th", "1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th"];
        var lapTime = ""
 
        //loop though the final positions of the newRaceRecord
        for(let i = 0; i < newRaceRecord.finalPositions.length; i++)
        {
            //loop though each racer
            for(let x = 0; x < newRaceRecord.racers.length; x++)
            {
                //if the final positions in the new race record matches the rfid of a racer:
                if(newRaceRecord.finalPositions[i] == newRaceRecord.racers[x].vehicleRFID)
                {
                    //loop through the lap records
                    for(let y = 0; y < newRaceRecord.lapRecords.length; y++)
                    {
                        //if final positions matches the vehicle rfid in the current lapRecord
                        if(newRaceRecord.finalPositions[i] == newRaceRecord.lapRecords[y].vehicleRFID)
                        {
                            //make the lap time the lap time of the current lapRecord
                            lapTime = newRaceRecord.lapRecords[y].lapTime;
                        }
                    }

                    //add the data to poleTableBody
                    poleTableBody.innerHTML += "<tr><td>" + poleOrdinals[i+1] + "</td><td>" + newRaceRecord.racers[x].racerName + "</td><td>" + newRaceRecord.racers[x].vehicleNumber + "</td><td>" + lapTime + "</td></tr>";
                }
            }
        }
    </script>
</body>
</html>