<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Start New Race</title>
</head>
<body>
<div class="container">
    <div id="NewRace">

        <h1>Start New Race</h1>

        <table class="table table-striped">
            <thead>
                <th>Racer Name</th>
                <th>Email</th>
                <th>Vehicle No.</th>
                <th>RFID Hex Code</th>
            </thead>
            <tbody id="entries">

            </tbody>
        </table>

        <h2>Add Racer</h2>
        <div>
            <input type="hidden" name="raceId" id="raceId" value="">
            <label for="racerName">Racer Name: </label>
            <input type="text" name="racerName" id="racerName">
            <label for="racerEmail">Racer Email:</label>
            <input type="text" name="email" id="email">
            <button class="btn btn-primary" onclick="addRacer()">Add Racer</button>
        </div>

        <h2>Race Config</h2>
        <form action="/raceRegistration/startRace/submit" method="post" id="startRaceForm">
            <label for="laps">Number of Laps: </label>
            <input type="number" name="noOfLaps" value="1">
            <button class="btn btn-success" type="submit">Start Race</button>
        </form>
    </div>

    <!-- return to dashboard route -->
    <form action="/raceRegistration/dashboard/submit" id="returnForm" method="post">
        <button class="btn btn-primary" type="submit">Return to Dashboard</button>
    </form>

    <script>
        //get the testDiv element
        const tableBody = document.getElementById("testDiv");

        //get relevant elements for racer entries
        const entries = document.getElementById('entries');
        const racerName = document.getElementById('racerName');
        const racerEmail = document.getElementById('email');

        //get the racers table element
        const racers = document.getElementById('racers');

        //define a racerArray
        let racerArray = [];

        //object for registering a racer for a race
        const racer = 
        {
            rName: String,
            rEmail: String
        }

        //define a websocket and define the address to listen to
        const ws = new WebSocket('ws:localhost:8888');

        //on open (for testing)
        ws.onopen = () =>
        {
        }

        //when it gets a relevant racer, the data is added to the entries table
        ws.onmessage = (event) =>
        {
            entries.innerHTML += event.data;
        }

        //adds a racer when the form is completed
        function addRacer()
        {
            //variables for the add racer form
            const newName = racerName.value.trim();
            const newEmail = racerEmail.value.trim();
            const messageType = "registration";

            //create a new racer object
            const newRacer = Object.create(racer);

            //if either of the form fields are empty, return a console log stating that the data is missing
            if(!newName || !newEmail)
            {
                console.log("Missing Data");
            }
            //otherwise, send a message to app.js
            else
            {
                ws.send(messageType + "," + newName + "," + newEmail);
                // ws.send(newName + "," + newEmail);
                racerName.value = '';
                racerEmail.value = '';
            }

            //bring the cursor back to the racerName portion of the add racer form
            racerName.focus();
        }
    </script>
</div>
</body>
</html>