<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="NewRace">

        <h1>New Race</h1>

        <table>
            <thead>
                <th>Racer Name</th>
                <th>Email</th>
                <th>Vehicle No.</th>
                <th>RFID Hex Code</th>
            </thead>
            <tbody id="entries">

            </tbody>
        </table>

        <h2>Add Racer</h2>
        <div>
            <input type="hidden" name="raceId" id="raceId" value="">
            <label for="racerName">Racer Name: </label>
            <input type="text" name="racerName" id="racerName">
            <label for="racerEmail">Racer Email:</label>
            <input type="text" name="email" id="email">
            <button onclick="addRacer()">Add Racer</button>
        </div>

        <h2>Race Config</h2>
        <form action="/raceRegistration/startRace/submit" method="post" id="startRaceForm">
            <label for="laps">Number of Laps: </label>
            <input type="number" name="noOfLaps" placeholder="1">
            <button type="submit">Start Race</button>
        </form>
    </div>

    <!-- return to dashboard route -->
    <form action="/dashboard" id="returnForm">
        <button type="submit">Return to Dashboard</button>
    </form>

    <script>
        const tableBody = document.getElementById("testDiv");

        const entries = document.getElementById('entries');
        const racerName = document.getElementById('racerName');
        const racerEmail = document.getElementById('email');

        const racers = document.getElementById('racers');

        let racerArray = [];

        const racer = 
        {
            rName: String,
            rEmail: String
        }

        const ws = new WebSocket('ws:localhost:8888');

        ws.onopen = () =>
        {
            console.log('connected to server');
        }

        ws.onmessage = (event) =>
        {
            //console.log(event.data);
            entries.innerHTML += event.data;
        }

        function addRacer()
        {
            const newName = racerName.value.trim();
            const newEmail = racerEmail.value.trim();
            const messageType = "registration";

            const newRacer = Object.create(racer);

            if(!newName || !newEmail)
            {
                console.log("Missing Data");
            }
            else
            {
                ws.send(messageType + "," + newName + "," + newEmail);
                // ws.send(newName + "," + newEmail);
                racerName.value = '';
                racerEmail.value = '';
            }
            //return false;
        }
    </script>
</body>
</html>