<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Add New Vehicle - David's RFID Race Tracking System</title>
</head>
<body>
<div class="container">
    <h1>Add New Vehicle</h1>

    <p style="background-color: rgb(141, 232, 255); padding: 20px; margin: 3px; border-radius: 5px;">Note: Scan the RFID tag you wish to use for this new vehicle.</p>

    <form action="/registerVehicle/submit" method="post">
        <label for="vehicleNumber">Vehicle Number: </label>
        <input type="number" name="vehicleNumber" id="vehicleNumber">
        <label for="tagHex">RFID Hex Code: </label>
        <input type="text" name="tagHex" id="tagHex">
        <input type="hidden" name="status" id="status" value="idle">
        <button class="btn btn-success" type="submit">Add New Vehicle</button>
    </form>
    
    <form action="/dashboard">
        <button class="btn btn-primary" type="submit">Return to Dashboard</button>
    </form>
</div>    
    <script>
        //get the form field for the RFID hex code to be enetered
        const tagHex = document.getElementById("tagHex");

        //create a new websocket and connnect it to the backend
        const ws = new WebSocket('ws:localhost:8888');

        //on the websocket opening
        ws.onopen = () =>
        {
            // console.log("connected to server");
        }

        //on receiving a new message
        ws.onmessage = (event) =>
        {
            //parse the data
            let temp = event.data;
            temp = temp.slice(0,-1);
            let dataArray = temp.split(",");

            //if the first entry in dataArray is "checkRFID", place the hex code into tagHex
            if(dataArray[0] === "checkRFID")
            {
                tagHex.value = dataArray[1];
            }
        }

        //check for an RFID every 1/4th of a second
        setInterval(checkForRFID, 250);

        //send a message to app.js to find if an RFID tag has been scanned
        function checkForRFID()
        {
            ws.send("findRFID,ping");
        }
        
    </script>
</body>
</html>